# Configuration file for IoT Device Simulation
# Copy this from config.env.example and fill in your values
export BASE_URL="https://https://iotflexp-odh4.onrender.com/api/v1"
API_KEY=iotflex_acb2af1e26e2ea059f773bcdce6a07094cdbb36e764d35c9df556fd2
DEVICE_ID=29c9ec6b-5384-4a9b-b707-a81c29d096a0
ORGANIZATION_ID=3fdad184-8036-4a6b-9fda-8cc0058acfe3

MQTT_HOST=test.mosquitto.org
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_PROTOCOL=mqtt
