# Configuration file for IoT Device Simulation
# Copy this from config.env.example and fill in your values
export BASE_URL="https://iotflexp-y6u2.onrender.com/api/v1"
API_KEY=iotflex_6662747e43ee565b71ea2208bffcb5bcd2fc030ca38983aae1fbfd9b
DEVICE_ID=bcb79ffd-aae6-4f4b-8143-6f1b03d245b0
ORGANIZATION_ID=a1b823d8-01c9-469a-849f-8b5ebf611329

MQTT_HOST=bfcab3914406481e9ada465dd854fabf.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=victor
MQTT_PASSWORD=Vic2246tor
MQTT_PROTOCOL=mqtts
